@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100vh;
    width:100vw;
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
    
}

#telefone{
    position: absolute;
    height: 640px;
    width: 320px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:url('imagens/frame-iphone.png') no-repeat;
    margin-top:40px;
}

iframe#tela{
   position: relative;
   top: 80px;
   left: 22px;
   width: 265px;
   height:471px;
  
}

section#redes{
   
text-align: center;


}

#redes img{
    width: 50px;
    border-radius: 50%;
    margin:35px;
  

}
#redes img:hover{
    border: 5px solid white;
    transform: translate(-10%);
    transition: transform 0.5s;
}

